@media(min-width: 576px) {
    .hero__text {
        width: 43.5%;
        height: 110px;
    }

    .hero__wrapper-content {
        position: relative;
    }

    .hero__wrapper-content::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 109%;
        top: 0;
        right: 0;
        background-image: url(../img/hero_baner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
    }

    .hero__figure {
        display: none;
    }
}

@media(min-width: 768px) {
    .container {
        padding-inline: 24px;
    }

    .header__wrapper:first-child {
        margin-right: auto;
        gap: 42px;
    }

    .header__wrapper:nth-child(2) {
        display: flex;
        margin-right: 42px;
        gap: 16px;
        position: relative;
    }

    .header__wrapper:nth-child(2)::before {
        content: "";
        position: absolute;
        width: 2px;
        min-height: 35px;
        border-radius: 1px;
        background-color: #EAEAEA;
        top: 4px;
        right: -22px;
        transform: translateX(-50%);
    }

    .header__item-link--line::before {
        left: -20px;
    }

    .hero__title::after {
        left: -0.8em;
    }

    .menu-list {
        padding-block: 32px;
    }

    .hero__text {
        height: 160px;
        margin-bottom: 0.8em;
    }

    .hero__desc {
        line-height: 148%;
    }

}

@media(min-width: 924px) {
    .hero__wrapper-content::before {
        height: 120%;
    }
}

@media(min-width: 1120px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-inline: 34px;
    }
    .header {
        display: none;
    }

    .hero {
        padding-block: 18px 137px;
    }

    .hero__title::after {
        left: -1.22em;
    }

    .hero__top--link {
        display: block;
    }

    .hero__top {
        justify-content: space-between;
    }

    .hero__item-link:first-child {
        margin-right: 32px;
    }

    .hero__item-link {
        outline: 0;
    }

    .hero__item-link img {
        vertical-align: middle;
    }

    .hero__wrapper-content::before {
        height: 159%;
        top: -10px;
    }

    .hero__text {
        width: 45%;
        margin-bottom: 1em;
    }

    .hero__desc {
        word-spacing: -1px;
    }

    .menu-list {
        flex-wrap: wrap;
        padding: 10px 0;
        gap: 6px 12px;
    }
}